*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}
.container{
    height: 100%;
    /* width: 100%;
    margin-left: 0; */
    display: flex;
    position: relative;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.background{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    transform: translateZ(-40px) scale(6);
}
.foreground{
    position: relative;
    height: 100%;
    width: 100%;
    top: 600px;
    
    z-index: -1;
    /* object-fit: cover; */

    transform: translateZ(-20px) scale(2);
}
h1{
    text-shadow: 5px 5px 10px white;
}
